<html>
  <head>
    <link id="stylesheet" rel="stylesheet" type="text/css" href="/css/<%=@mode_status%>-mode.css" />
  </head>
  <body>
    <div class="container">
      <div class = "top-bar">
        <h1 class="icon">Listy</h1>
        <a href='/add-todo' class="add-todo">Add todo</a>
      </div>
      <div class="col-container">
        <div class="column1">
          <h2 class="upcoming">Upcoming</h2>
          <h2 class="completed">Completed</h2>
        </div>
        <div class="column2">
          <%if @incomplete_todos != nil%>
            <%@incomplete_todos.each do |item|%>
              <form action="/mark-completed" method="POST">
                <input type="hidden" name="id" value="<%=item.id%>">
                <input type="submit" name="submit" value="">
              </form>
              <form action="/todo" method="POST">
                <input type="hidden" name="id" value="<%=item.id%>">
                <input type="submit" name="submit" value="<%=item.title%>">
              </form>
              <p><%=item.content%></p>
              <p><%= Date.parse(item.deadline).strftime('%d/%m/%Y') %></p>
            <%end%>
          <%end%>
        </div>
      </div>  
      <div class="top-bar">
        <form action="/logout" method="POST">
          <input type="submit" name="Submit" value="logout" class="logout-btn">
        </form>
        <form action="/colour-mode" method="POST">
          <input type="submit" name="Submit" value="toggle mode" class="mode-btn">
        </form>
      </div>
    </div>
  </body>
</html>